body {
	font-size: 18px;
}
ul li{
	list-style: none;
	line-height: 1.5;
	margin: 5px;
}
a {
	color: darkblue;
	text-decoration: none;
}
a:hover{
	color: darkred;
	text-decoration: underline;
	font-size: 1.1em;
}
h1{
	font-size: 80px;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 30px 15px;
	background: blue;
}
.container{
	background: yellow;
	display: flex;
	flex-direction: row;
}
.left-col{
	padding: 10px 5px;
	width: 35%;
	opacity: .6;
	background: lightgreen;
}
.main-col{
	padding: 10px 5px;
	width: 65%;
	opacity: .9;
}
.img-holder img{
	width: 100%;
	background: green;
}
